.debug [class*='col-']{
  background-color: red;
  height: 100px;
  border:1px solid black;
}
.debug .h_500{
  height: 500px;
}
/* header */
header{
  background-color: white;
}
/* header */


/* Re-usable colors */
.sect_1 .row .row img{
  height: 60px;
  width: 100%;
}
.logos_sect{
  height: 50px;
}
.go_g-logo{
  height: 30px;
}

.white_title{
  color: white;
  font-size: 50px;
}
.bg_t{
  background-color: #F3F5F9;

}
.wh_te{
    color: white;
}
.lig_grey{
  color:#5B6987;
}

ul li{
  list-style: none;
  display: inline-block;
}

.list li{
  padding: 5px 5px;

}

.p_top{
  padding: 3px;
}

.blue{
color: blue;
  border:1px solid blue;
}


.logo{
  /* height: 60px; */
  width: 50%;
}

.h_700{
  height: 700px;
}

.h_600{
  height: 325px;
}



.wh-te{
  background-color: white;
  border-radius: 30px;
}
.green_one{
  background-color: green;
    border: 1px solid black;
}

.orange{
  background-color: orange;
  border: 1px solid black;
}

.jumbotron{
background-image: url('../img2/bg-home-1.jpg');
background-repeat: no-repeat;
background-size:auto;
background-position: bottom;
position: relative;

}

.drk_blue{
  color:#031B4E;
}
.p_f{
  color:#5B6987;
}

.sect_1{
  /* height: 400px; */
  background-color: #F3F5F9;
  position: relative;
  bottom: 29px;
}

.sect_2{
  /* height: 250px; */
  background-color: #F3F5F9;
  position: relative;
  bottom: 29px;


}


.sect_3{
  height: 400px;
  background-color: #F3F5F9;
  position: relative;
  bottom: 29px;


}

.sect_3 .row .deploy ul{

  list-style: none;
  height: 200px;
  border: 2px solid lightgrey;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-left: 13;
  line-height: 3;
  padding-left: 10px;
}

.deploy ul li {
  display: block;
  padding-left: 10px;
}
